<article *ngFor="let article of postList | reverse" id="post-angular-cli" class="article article-type-post" itemscope itemprop="blogPost">
	<div class="article-meta">
      	<a [routerLink]="['/article', article.id]" class="article-date">
      		<time itemprop="datePublished">{{article.date | date}}</time>
		</a>
    </div>
    <div class="article-inner">
    	<input type="hidden" class="isFancy" />
    	<header class="article-header">
		    <h1 >
					<a class="article-title" [routerLink]="['/article', article.id]">{{article.title}}</a>
			</h1>
			</header>
			<div class="article-entry" itemprop="articleBody">
			<markdown [path]="'pages/' + article.type + '/' + article.path"></markdown>
		</div>
		<div class="article-info article-info-index">
		    <div class="article-tag tagcloud">
		        <ul class="article-tag-list"><li *ngFor="let tag of article.tags" class="article-tag-list-item"><a class="article-tag-list-link color5">{{tag}}</a></li></ul>
		    </div>
		    <div class="clearfix"></div>
		</div>
	</div>
</article>