<article id="post-angular-cli" class="article article-type-post" itemscope itemprop="blogPost">
	<div class="article-meta">
      	<a href="/2017/04/17/angular-cli/" class="article-date">
      		<time datetime="2017-04-17T23:30:34.000Z" itemprop="datePublished">2017-04-17</time>
		</a>
    </div>
    <div class="article-inner">
    	<input type="hidden" class="isFancy" />
    	<header class="article-header">
		    <h1 itemprop="name">
					<a class="article-title" href="/2017/04/17/angular-cli/">Crear una aplicación en Angular 2 usando Angular-Cli</a>
			</h1>
			</header>
			<div class="article-entry" itemprop="articleBody">
			<markdown path="pages/posts/angular-cli.md"></markdown>
		</div>
		<div class="article-info article-info-index">
		    <div class="article-tag tagcloud">
		        <ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Angular-2/">Angular 2</a></li></ul>
		    </div>
		    <div class="clearfix"></div>
		</div>
	</div>
</article>